<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wen.thumbsystembackend.mapper.BlogMapper">
    <update id="addThumbCountByMap">
        update blog set thumb_count = thumb_count +
        case id
        <foreach collection="map" index="key" item="value">
            when #{key} then #{value}
        </foreach>
        end
        where id in
        <foreach collection="map.keySet()" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>


    <update id="batchUpdateThumbCount">
        update blog set thumb_count = thumb_count +
        case id
        <foreach collection="map.entrySet()" index="key" item="value">
            when #{key} then #{value}
        </foreach>
        end
        where id in
        <foreach collection="map.keySet()" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>
    <update id="recountThumbCount">
        update blog b set thumb_count =
        (select count(*) from thumb t where t.blog_id = b.id)
        where b.id in
        <foreach collection="list" item="id" separator="," open="(" close=")">#{id}</foreach>
    </update>
    <select id="getBlogIdAndThumbCount" resultType="com.wen.thumbsystembackend.entity.Blog">
        select id, thumb_count from blog where id in
        <foreach collection="list" item="blogId" separator="," open="(" close=")">#{blogId}</foreach>
    </select>
    <select id="findDriftedBlogIds" resultType="java.lang.Long">
        select b.id from blog as b
        where b.thumb_count !=
        (select count(*) from thumb as t where t.blog_id = b.id)
    </select>

</mapper>
