<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wen.thumbsystembackend.mapper.ThumbMapper">


    <insert id="saveBatch">
        insert into thumb(user_id,blog_id) values
        <foreach collection="list" item="map" separator=",">
            (#{map.userId},#{map.blogId})
        </foreach>
    </insert>

    <delete id="deleteBatch">
        delete from thumb where (user_id,blog_id) in
        <foreach collection="list" item="map" separator="," open="(" close=")">
            (#{map.userId},#{map.blogId})
        </foreach>
    </delete>
</mapper>
